/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* COLOR PALETTE */
:root {
    --bg: rgb(70, 70, 70, 0.66);
    --wh: rgb(235, 235, 235);
    --blk: rgb(3, 11, 56);
    --gry: rgb(70, 70, 70);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--wh);
  text-shadow: 1px 1px var(--gry)
}

li {
  list-style-type: none;
}

.background {
  position: absolute;
  z-index: -99;
  height: 100%;
  width: 100%;
  background-image: url('./images/background_images/day0.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--blk);
  /* opacity: .9; */
  filter: brightness(.8);
}

.weather-container {
  position: absolute;
  top: 5%;
  right: 0;
  padding: 5px;
  margin: 5px;
  width: 150px;
  font-size: 1.2em;
}

.zip-input {
  display: inline;
  width: 80px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.date-time-container {
  z-index: -1;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.date {
  font-size: 1.5em;
}
.clock {
  font-size: 6em;
  font-weight: bolder;
}

.delete-btn {
  color: red;
}
.delete-btn:hover {
  color: var(--wh);
  background-color: red;
}

.list-container {
  position: absolute;
  bottom: 30px;
  border-radius: 6px;
  background-color: var(--bg);
  padding: 0 20px;
  margin: 20px;
  overflow: auto;
  text-align: center;
  height: 300px;
  width: 400px;
}
.list-item {
  display: grid;
  grid-template-columns: 10% 75% 15%;
  grid-template-rows: 40px;
  list-style: none;
  padding: 5px;
}
h4.list-item {
  height: 1rem;
  font-size: .75rem;
}

.events {
  left: 0;
}

.todos {
  right: 0;
}

.checkbox {
  position: relative;
  vertical-align: middle;
  bottom: -.75rem;
  transform: scale(2.5);
}

.help-container {
  margin: auto;
  width: 100%;
  padding: 10%;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.help-link, .back-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  text-decoration: none;
  font-size: 1.5rem;
}

@media (max-width: 850px){
  .date-time-container {
    position: fixed;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .date {
    font-size: 1rem;
  }
  .clock {
    font-size: 3rem;
  }

  .list-container {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .events {
    top: 75%;
  }
  .todos {
    top: 35%;
  }
}