/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* COLOR PALETTE */
:root {
    --bg: rgb(70, 70, 70, 0.66);
    --wh: rgb(235, 235, 235);
    --blk: rgb(3, 11, 56);
    --gry: rgb(70, 70, 70);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--wh);
  text-shadow: 1px 1px var(--gry)
}

li {
  list-style-type: none;
}

.background {
  position: absolute;
  z-index: -99;
  height: 100%;
  width: 100%;
  /* background-image: url("./images/night.jpg"); */
  background-image: url('./images/day.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--blk);
  /* opacity: .9; */
  filter: brightness(.8);
}

.date-time-container {
  z-index: -1;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.date {
  font-size: 1.5em;
}
.clock {
  font-size: 6em;
  font-weight: bolder;
}

.help-container {
  margin: auto;
  width: 100%;
  padding: 10%;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.help-link, .back-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  text-decoration: none;
}

@media (max-width: 650px){
  .date-time-container {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .date {
    font-size: 1rem;
  }
  .clock {
    font-size: 3rem;
  }
}