/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* COLOR PALETTE */
:root {
    --bg: rgb(70, 70, 70, 0.66);
    --wh: rgb(235, 235, 235);
    --blk: rgb(3, 10, 55);
    --gry: rgb(70, 70, 70);
    --red: rgb(165, 25, 25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--wh);
  text-shadow: 1px 1px var(--gry)
}

input {
  border-radius: 5px 0px 5px 0px;
  padding: 5px;
  background: var(--bg);
  color: var(--wh);
  text-shadow: none;
}
input::placeholder {
  color: var(--wh);
}
input:hover {
  background: var(--wh);
  color: var(--blk);
}

button {
  outline: none;
}

li {
  /* list-style-type: none; */
  text-align: left;
}

.login-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 4rem;
  text-decoration: none;
  border: 2px solid var(--wh);
  padding: 2% 5%;
  box-shadow: 0 0 40px var(--blk);
}

.background {
  position: absolute;
  z-index: -99;
  height: 100%;
  width: 100%;
  background-image: url('./images/background_images/day14.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--blk);
  /* opacity: .9; */
  filter: brightness(.8);
}

.weather-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  margin: 5px;
  width: 180px;
  height: 80px;
  font-size: 1.2em;
}

.weather-icon {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 50px;
  width: 50px;
}

.zip-container {
  display: inline-block;
  z-index: 1;
  position: absolute;
  top: 80px;
  width: 180px;
  right: 0;
}

.zip-input {
  width: 73px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.date-time-container {
  z-index: -1;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.date {
  font-size: 1.5em;
}
.clock {
  font-size: 6em;
  font-weight: bolder;
}

.delete-btn {
  color: var(--red);
  height: 35px;
  width: 35px;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 10px;
  text-shadow: none;
}
.delete-btn:hover {
  color: var(--wh);
  font-weight: bolder;
  background-color: var(--red);
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px var(--wh); 
  border-radius: 0px 6px 6px 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(212, 212, 212, 0.4);
  border-radius: 0px 6px 6px 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(212, 212, 212, 0.6); 
}

.list-container {
  position: absolute;
  bottom: 30px;
  border-radius: 6px;
  background-color: var(--bg);
  padding: 0 20px;
  margin: 20px;
  overflow: auto;
  text-align: center;
  height: 300px;
  width: 400px;
}
.list-item {
  display: grid;
  place-items: center;
  grid-template-columns: 10% 75% 15%;
  grid-template-rows: 40px;
  list-style: none;
  padding: 5px;
  font-size: 1rem;
  overflow: hidden;
  text-align: center;
}

.event-input {
  z-index: 1;
  position: absolute;
  bottom: 325px;
  border-radius: 6px;
  padding: 0 20px;
  margin: 20px;
  overflow: auto;
  text-align: left;
  height: 40px;
  width: 450px;
}
.event {
  left: 0;
}

.todos-input {
  position: absolute;
  bottom: 325px;
  border-radius: 6px;
  padding: 0 20px;
  margin: 20px;
  overflow: auto;
  text-align: left;
  height: 40px;
  width: 400px;
}
.todos {
  right: 0;
}

.checkbox {
  bottom: -.75rem;
  transform: scale(2.5);
}

.help-container {
  z-index: -5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  padding: 5%;
  text-align: center;
  border-radius: 20px;
  background: rgba(60, 70, 80, 0.66);
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.help-link, .back-btn, .logout-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 1rem;
  border: 1px solid var(--wh);
  border-radius: 10px;
}
.logout-btn {
  left: 4rem;
}

@media (max-width: 850px){
  .date-time-container {
    position: fixed;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .date {
    font-size: 1rem;
  }
  .clock {
    font-size: 3rem;
  }

  .weather-container {
    position: fixed;
    top: 40px;
    right: -8%;
  }

  .zip-container {
    position: fixed;
    top: 120px;
    right: -8%;
  }

  .list-container {
    left: 48%;
    transform: translate(-50%, -50%);
  }

  .event-input {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .events {
    top: 75%;
  }
  .todos-input {
    z-index: -1;
    position: absolute;
    height: 380px;
    left: 47%;
    transform: translate(-50%, -50%);
  }
  .todos {
    top: 35%;
  }
}